body{
    margin: 0;
    font-family:'Roboto', sans-serif;
}

/* Header Section */
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    color: #F9FAF8;
    background-color: #1F2937;
}

.header-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.link{
    font-size: 14px;
}

.header-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px 10px;
    gap: 10%;
}

.header-h1{
    margin-bottom: 5px;
    font-size: 36px;
    font-weight: bolder;
}

.header-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 35%;
    padding: 30px 3em;
}

.header-text p {
    font-size: 16px;
    color: #E5E7EB;
}

.header-img{
    display: flex;

}

.header-img img{
    flex-shrink: 1;
}

button{
    font-size: 12px;
    padding: 8px 24px;
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 6px;
    font-weight: 700;
}

/* Top section of body */

.body-top{
    padding: 2em;
}

.body-header{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
    font-size: 20px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 15%;
}

.item-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    text-align: center;
    font-size: 14px;
}

.item-square{
    height: 100px;
    width: 100px;
    border: solid blue 3px;
    border-radius: 10px;
}

/* Middle section of body */

.body-mid{
    background-color: #E5E7EB;
    display: flex;
    align-content: center;
    justify-content: center;
}

.mid-container{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 70%;
    padding: 5em 2em;
}

.quote{
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}

.quote-author{
    font-weight: 900;
}

/* Bottom section of body */

.body-bot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot-container{
    display: flex;
    gap: 100px;
    margin: 3em;
    padding: .5em 3em;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.bot-header{
    font-weight: 900;
}

.bot-text{
    font-size: 12px;
    margin-top: -10px;
}

.bot-container button {
    height: 3em;
    border: solid white 1px;
    align-self: center;
}

.footer{
    padding: 2em;
    margin-bottom: auto;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 10px;
}